@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "_nullstyle";

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

input {
  margin: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 16px;
  // background-color: #000000;
  background-color: #f9f9f9;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.calc {
  flex: 1 1 auto;
}
/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}

/*-------------------------------------------------------------*/
/*-----Calc----------------------------------------------------*/
/*-------------------------------------------------------------*/
.calc {
  padding: 100px;
}

.calc__container {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  border-radius: 10px;
  background-color: black;
}

.calc__result {
  color: white;
  padding: 40px;
  font-size: 50px;
  text-align: right;
}

.calc__body {
  display: inline-flex;
  flex-direction: column;
  gap: 40px 0px;
  margin: 0 auto;
  padding: 20px 40px 30px 40px;
  border: 5px;
}

.calc__body div {
  margin: 0 auto;
  display: flex;
  gap: 0px 20px;
}

.calc__body div:first-child button:not(:last-child) {
  color: #171717;
  background-color: #a8a8a8;

  &:hover {
    background-color: #d3d3d3;
  }
}

.calc__body div:last-child button:first-child {
  visibility: hidden;
}

.calc__body button {
  border-radius: 50%;
  min-width: 80px;
  font-size: 35px;
  padding: 20px;
  background-color: #2f2f2f;
  color: white;

  &:hover {
    background-color: #f9f9f9;
    color: #2f2f2f;
  }

  transition: 0.4s;

  &:nth-child(4n) {
    background-color: #ff9700;
    &:hover {
      background-color: #ffb140;
      color: white;
    }
  }

  &:active {
    // transform: scale(0.8);
  }
}

/*-------------------------------------------------------------*/
/*-----Modal---------------------------------------------------*/
/*-------------------------------------------------------------*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  max-width: 600px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background-color: whitesmoke;
  box-shadow: 0 0 15px 1px black;
  border-radius: 20px;
  &__content {
    font-size: 40px;
    color: black;
    text-align: center;
  }

  &__close span{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 30px;
  }
}

.material-icons-outlined{
  color: black;
}
/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  background-color: #000000;
  padding: 25px 0px;
  &__list {
    border-radius: 5px;
    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px 20px;
  }
  &__item {
    text-align: center;
    font-size: 25px;
    color: white;
  }
  &__link {
    font-size: 25px;
    color: white;
    transition: all 0.2s ease-in;
    &:hover {
      color: #fda000;
    }
  }
}
